body {
  font-family: var(--font-montserrat), sans-serif;
  min-height: 100vh;
  background-color: #101010;
  padding: 20px 22px 20px 0;

  @media (width <= 768px) {
    max-width: 100%;
    padding: 20px 15px 20px 15px;
  }
}

.main {
  flex-grow: 1;
  position: relative;
}

button {
  cursor: pointer;
}
