@import 'tailwindcss';

@theme {
  --breakpoint-large-mobile: 630px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1200px;
  --breakpoint-large-desktop: 1440px;
  --breakpoint-extra-large-desktop: 1920px;
  --breakpoint-4k: 2559px;

  /*  Colors  */
  --color-*: initial;
  /* Primary Colors */
  --color-basic-black: #101010;
  --color-basic-white: #ffffff;
  --color-primary: #5459ea;
  --color-basic-200: #f7f9fc;
  --color-basic-700: #2e3a59;

  /* Fonts */
  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-montserrat);
  --font-jetbrains: var(--font-jetbrains);
  /* Large Title */
  --text-large-title: 2.5rem; /* 40px */
  --text-large-title--line-height: 2.875rem; /* 46px */
  --text-large-title--font-weight: 700; /* Bold */
  /* H1 */
  --text-h1: 2rem; /* 32px */
  --text-h1--line-height: 2.375rem; /* 38px */
  --text-h1--font-weight: 700; /* Bold */
  /* H2 */
  --text-h2: 1.75rem; /* 28px */
  --text-h2--line-height: 2.125rem; /* 34px */
  --text-h2--font-weight: 700; /* Bold */
  /* H3 */
  --text-h3: 1.5rem; /* 24px */
  --text-h3--line-height: 1.875rem; /* 30px */
  --text-h3--font-weight: 700; /* Bold */
  /* H4 */
  --text-h4: 1.125rem; /* 18px */
  --text-h4--line-height: 1.5rem; /* 24px */
  --text-h4--font-weight: 600; /* Semi-bold */
  /* Callout 1 */
  --text-callout-1: 1rem; /* 16px */
  --text-callout-1--line-height: 1.25rem; /* 20px */
  --text-callout-1--font-weight: 600; /* Semi-bold */
  /* Body 1 */
  --text-body-1: 1rem; /* 16px */
  --text-body-1--line-height: 1.25rem; /* 20px */
  --text-body-1--font-weight: 400; /* Regular */
  /* Callout 2 */
  --text-callout-2: 0.875rem; /* 14px */
  --text-callout-2--line-height: 1.125rem; /* 18px */
  --text-callout-2--font-weight: 500; /* Medium */
  /* Body 2 */
  --text-body-2: 0.875rem; /* 14px */
  --text-body-2--line-height: 1.125rem; /* 18px */
  --text-body-2--font-weight: 400; /* Regular */
  /* Shadow */
  --shadow-*: initial;
  --shadow-default: 0px 2px 16px 0px rgba(0, 0, 0, 0.05);
}

@utility container {
  margin-inline: auto;
  padding-inline: 15px;
  @media (width >= 768px) {
    max-width: 100%;
    padding-inline: 45px;
  }
  @media (width >= 1200px) {
    max-width: 1110px;
    padding-inline: 0;
  }
}

@layer components {
  a,
  button,
  a > *,
  button > *,
  details,
  details > * {
    @apply desktop:cursor-pointer transition;
  }

  * {
    @apply disabled:cursor-not-allowed;
  }

  input,
  textarea,
  select {
    @apply outline-hidden;
  }
}

@layer utilities {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #eeeef0;
      border-radius: 9999px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #b8b9c1;
      border-radius: 9999px;
      background-clip: padding-box;
    }
  }

  .scrollbar-none {
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .transition {
    @apply transition-all duration-300 ease-in-out;
  }
}
